/* Main Section */

.mainSection {
    font-family: 'Mono Sans';
    margin-top: 200px !important;
}

/* Heading */

.headings {
    margin-bottom: 100px;
}

.headings h1 {
    color: #0D0C22;
    font-weight: bolder;
    font-size: 52px;
}

/* Blogs */

.blog {
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    flex-wrap: wrap;
}

.blog-img {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.blog-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog-date {
    font-size: 14px;
    color: #9E9EA7;
    font-weight: 600;
    margin-bottom: 5px;
}

.blog-date p {
    margin-bottom: 0;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    color: #0D0C22;
    margin-bottom: 10px;
}

.blog-title p {
    margin-bottom: 0;
}

.blog-title p:hover {
    color: rgb(252, 0, 235);
}

.blog-description {
    font-size: 20px;
    color: #6E6D7A;
    line-height: 1.5;
}

.blog-description p {
    margin-bottom: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .blog {
        flex-direction: column;
        align-items: self-start;
        text-align: start;
        gap: 0;
    }

    .blog-title {
        font-size: 20px;
    }

    .blog-img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .blog-description {
        font-size: 15px;
        text-align: justify;
    }
}